.team {
    padding: 70px 0;
}
.team_header {
    text-align: center;
}
.team_heading {
    font-size: 4.6rem;
    color: var(--primary-color);
    font-weight: 700;
    margin-bottom: 8px;
}
.team_sub {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-bottom: 16px;
}
.team_body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}
.team_item {
    padding: 10px;
    border: 1px solid #ccc;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    margin-top: 40px;
}
.team_item-image {
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    margin-bottom: 24px;

    overflow: hidden;
}
.team_content {
}
.team_job {
    color: var(--primary-color);
    margin-bottom: 10px;
}
.team_name {
    font-size: 20px;
    font-weight: bold;
    color: var(--primary-color);
}

.team_content-sub {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    color: #6c757d;
}

@media only screen and (max-width: 978px) {
    .team_body {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
    }
}

@media only screen and (max-width: 678px) {
    .team_body {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 24px;
    }
}
